

<body>
    <form class="serviceForm" action="mailto:carl@cuttingedgelighting.com" method="post" enctype="multipart/form-data">
        <div class="col-left">
            <label>
                <span>Name:</span><br />
                <input type="text" name="ApplicantName" required/>
            </label><br />
            <label>
                <span>Phone Number:</span><br />
                <input type="text" name="ApplicantPhoneNumber" required/>
            </label><br />
            <label>
                <span>Email:</span><br />
                <input type="text" name="ApplicantEmail" required/>
            </label><br />
        </div>
        <div class="col-right">
            <label>
                <span>Address:</span><br />
                <input type="text" name="ApplicantAddress" required/>
            </label><br />
            <label>
                <span>City:</span><br />
                <input type="text" name="ApplicantCity" required/>
            </label><br />
            <label>
                <span>State:</span><br />
                <input type="text" name="ApplicantState" required/>
            </label><br />
            <label>
                <span>Zip Code:</span><br />
                <input type="text" name="ApplicantZip" required/>
            </label><br /><br />
        </div>
        <div class="uploadResume">
            <input type="file" name="resume" />
        </div>
        <div class="formSubmitButton">
            <input type="submit" value="Submit" /><br />
            <br />
        </div>
    </form>
</body>
