body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    background: linear-gradient(white, darkred) fixed;
}


html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*Navbar CSS*/

.navbar {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
}

.logo {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.navbar ul {
    font-size: 16px;
    margin: 0;
    padding: 20px;
    float: left;
    list-style-type: none;
}

.navbar > ul > li {
    float: left;
}

.nav-item {
    display: block;
    padding: 15px 40px;
    height: 79px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: darkred;
    color: white;
    text-decoration: none;
}

.nav-item:focus {
    background-color: darkred;
    color: white;
    text-decoration: none;
}

.nav-sub {
    background-color: #000000;
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-sub a {
    color: white;
    padding: 12px 16px;
    padding-right: 150px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-sub a:hover {
    background-color: darkred;
}

.navbar ul li:hover .nav-sub {
    display: block;
}

/*Smallscreen Dropdown CSS*/

nav select {
    display: none;
    float: right;
    margin-right: 15px;
    margin-top: 30px;
}

@media (max-width: 1650px) {
    nav ul {display: none;}
    nav select {display: inline-block;}
}

/*Shared Body CSS*/

.body-content {
    width: 100%;
    margin: 0;
    color: white;
}

.foot {
    width: 97%;
    border-top: 2px solid #000000;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Home Page CSS*/
.columns {
    position: relative;
    height: 0;
    margin: auto;
    padding: 10px;
    padding-top: 200px;
}

.col-left {
    padding: 0 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    float: left;
    width: 50%;
    height: 400px;
    background-image: url('Pictures/TextBackground.jpg');
    color: black;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.col-right {
    padding: 0 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 120px;
    width: 30%;
    height: 400px;
    background-image: url('Pictures/TextBackground.jpg');
    color: black;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

@media (max-width: 1000px) {
    
}

/*Contact Page*/
.contactinfo {
    background-image: url('Pictures/TextBackground.jpg');
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    color: black;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    font-size: 16px;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: -50%;
    transform: translateY(50%);
}