@{
    ViewBag.Title = "Contact";
}

<body>
    <div class="contactcontainer">
        <div class="contactinfo">
            <h1>Contact Us</h1>
            <h3>Email Sales:</h3>
            <p>Carl Anello: <a href="mailto:carl@cuttingedgelighting.com" id="hyperlink">carl@cuttingedgelighting.com</a></p> 
            <h3>General Manager:</h3>
            <p>Lauren Stoots: <a href="mailto:lauren@cuttingedgelighting.com" id="hyperlink">lauren@cuttingedgelighting.com</a></p>
            <h3>Project Manager:</h3>
            <p>Andrea Frederick: <a href="mailto:andrea@cuttingedgelighting.com" id="hyperlink">andrea@cuttingedgelighting.com</a></p>
            <h3>Service Coordinator:</h3>
            <p>Kitana Foris: <a href="mailto:kitana@cuttingedgelighting.com" id="hyperlink">kitana@cuttingedgelighting.com</a></p>
            <h3>Address: </h3>
            <p>
                9241 Ravenna Rd Unit C10
                <br />
                Twinsburg, OH 44087
            </p>
            <p>Phone Number: <a class="mobilesOnly" href="tel:3309986002" id="hyperlink">330-998-6002</a></p>
        </div>
    </div>
</body>