@{
    ViewBag.Title = "Contact";
}

<body>
    <div class="contactcontainer">
        <div class="contactinfo">
            <h1>Contact Us</h1>
            <h3>Email Sales:</h3>
            <a href="mailto:salesinfo@cuttingedgelighting.com>">salesinfo@cuttingedgelighting.com</a>
            <h3>Email Support:</h3>
            <a href="mailto:service@cuttingedgelighting.com">service@cuttingedgelighting.com</a>
            <h3>Address</h3>
            <p>
                9241 Ravenna Rd Unit C10
                <br />
                Twinsburg, OH 44087
            </p>
        </div>
    </div>
</body>