@{
    ViewBag.Title = "Home Page";
}

<body>
    <div id="bodyWrapper">
        <div class="columns-container">
            <div class="columns">
                <div class="col-left-home">
                    <h1>Welcome!</h1>
                    <p>Cutting Edge Lighting provides nationwide electrical services including on-demand and preventative maintenance, rollouts, Energy Management System service and installation and there for you when a disaster happens. We service multi-site retail (big and small box), commercial, food service, parking structures and distribution & storage centers in communities across the U.S. From the ground-up electrical construction, tenant improvements, remodels and generator installations, Cutting-Edge serves Fortune 100, 500 clients nationwide. We provide management, labor, materials and equipment for the installation and maintenance of electrical and lighting systems and do it effectively across multi-site or single unit properties. We combine creative “out of the box thinking” problem-solving with technical know to complete the project and exceed customer expectations.</p>
                </div>
                <div class="col-right-home">
                    <div class="manSlide">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/AtlantaLighting.jpg" class="newsPic" style="width: 30%; height: 50%;" />
                        <a href="https://www.ledsmagazine.com/articles/2018/09/lightingbased-smart-cities-will-not-be-built-in-a-day-atlanta-moves-one-step-at-a-time.html" target="_blank" id="hyperlink2">Lighting-based smart cities will not be built in a day: Atlanta moves one step at a time</a>
                    </div>
                    <div class="manSlide">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/ledscrossrailnews102918.jpg" class="newsPic" style="width: 50%; height: 50%;" />
                        <a href="https://www.ledsmagazine.com/articles/2018/10/future-designs-reveals-custom-led-lighting-scheme-for-uk-crossrail-project.html" target="_blank" id="hyperlink2">Future Designs reveals custom LED lighting scheme for UK Crossrail project</a>
                    </div>
                    <div class="manSlide">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/BluetoothLightThing.jpg" class="newsPic" style="width: 50%; height: 50%;" />
                        <a href="https://www.ledsmagazine.com/articles/2018/10/a-new-fulham-module-adds-bluetooth-to-luminaires.html" target="_blank" id="hyperlink2">A new Fulham module adds Bluetooth to luminaires</a>
                    </div>
                    <div class="buttons">
                        <button class="leftbutton" onclick="plusDivs2(-1)">&#10094;</button>
                        <button class="rightbutton" onclick="plusDivs2(1)">&#10095;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/SlideshowJavaScript.js"></script>
</body>