

<body>
    <div class="fat-footer">
        <div class="container">
            <div class="columns">
                <div class="col-up-left">
                    <div class="manSlide1">
                        <h1>Welcome!</h1>
                        <p>Cutting Edge Lighting provides nationwide electrical services including on-demand and preventative maintenance, rollouts, Energy Management System service and installation and there for you when a disaster happens. We service multi-site retail (big and small box), commercial, food service, parking structures and distribution & storage centers in communities across the U.S. From the ground-up electrical construction, tenant improvements, remodels and generator installations, Cutting-Edge serves Fortune 100, 500 clients nationwide. We provide management, labor, materials and equipment for the installation and maintenance of electrical and lighting systems and do it effectively across multi-site or single unit properties. We combine creative “out of the box thinking” problem-solving with technical know to complete the project and exceed customer expectations.</p>
                    </div>
                    <div class="manSlide1">
                        <h1>About Us</h1>
                        <p>Generic text letting clients know more about the history of Cutting Edge and what  you guys do. Check out the next slide for our mission statement!</p>
                    </div>
                    <div class="manSlide1">
                        <h1>Mission Statement</h1>
                        <p>Mission stratement here</p>
                    </div>
                    <button class="leftbutton" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="rightbutton" onclick="plusDivs(1)">&#10095;</button>
                </div>
                <div class="col-low-right">
                    <div class="manSlide2">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/AtlantaLighting.jpg" style="width: 30%; height: 50%;"/>
                        <a href="https://www.ledsmagazine.com/articles/2018/09/lightingbased-smart-cities-will-not-be-built-in-a-day-atlanta-moves-one-step-at-a-time.html" id="hyperlink2">Lighting-based smart cities will not be built in a day: Atlanta moves one step at a time</a>
                    </div>
                    <div class="manSlide2">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/ledscrossrailnews102918.jpg" style="width: 50%; height: 50%;"/>
                        <a href="https://www.ledsmagazine.com/articles/2018/10/future-designs-reveals-custom-led-lighting-scheme-for-uk-crossrail-project.html" id="hyperlink2">Future Designs reveals custom LED lighting scheme for UK Crossrail project</a>
                    </div>
                    <div class="manSlide2">
                        <h1>Latest News:</h1>
                        <img src="~/Content/Pictures/BluetoothLightThing.jpg" style="width: 50%; height: 50%;"/>
                        <a href="https://www.ledsmagazine.com/articles/2018/10/a-new-fulham-module-adds-bluetooth-to-luminaires.html" id="hyperlink2">A new Fulham module adds Bluetooth to luminaires</a>
                    </div>
                    <button class="leftbutton" onclick="plusDivs2(-1)">&#10094;</button>
                    <button class="rightbutton" onclick="plusDivs2(1)">&#10095;</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/SlideshowJavaScript.js"></script>
</body>