@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="fat-footer">
        <div class="container">
            <div class="columns">
                <div class="mainphoto" style: width: 960px; height: 540px; border: 5px solid #000000;>
                    <div style="background-image: url('../../Content/Pictures/LightBulb.jpg');"></div>
                </div>
                <div class="col-left">
                    <h1>Welcome!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta a quam a fringilla. Cras rutrum porta ipsum a tristique. Aliquam eu dignissim magna. Mauris rutrum, augue ac tempor malesuada, mauris est dictum libero, vitae viverra est ligula non augue. Etiam ut massa ut velit venenatis venenatis. Integer odio ipsum, egestas quis dictum quis, vestibulum tincidunt nibh. Nullam vitae ornare neque. Nulla vel ultricies nisl, id sodales quam. Integer massa urna, tempus eget interdum quis, ornare vitae enim. Integer nec tincidunt sapien. Nullam lectus odio, porta et scelerisque eget, consectetur ac ante.</p>
                    <p>Nam malesuada egestas consectetur. In sit amet aliquet metus, eget faucibus neque. Nunc mi sem, tempus vitae maximus nec, dictum vitae sem. Duis egestas nec ex ut rutrum. Aenean mollis sodales eros, eget auctor erat varius sed. Nulla luctus fringilla tristique. Nunc mattis pellentesque purus non efficitur. Praesent eleifend nec est sit amet cursus.</p>
                </div>
                <div class="col-right">
                    <h1>Latest News</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet mi pellentesque turpis laoreet, et aliquam justo luctus. Sed ut neque accumsan, interdum urna et, pellentesque magna. Praesent bibendum quam diam, vitae tincidunt libero semper nec. Donec egestas accumsan interdum.</p>
                    <p>Mauris dictum ante lacus, id gravida eros dictum non. Morbi non nulla ante. In rutrum nisi at justo iaculis, sit amet laoreet sapien pharetra. Donec quis euismod felis, vitae tincidunt eros.</p>
                </div>
            </div>
        </div>
    </div>
</body>