

<body>
    <div class="serviceForm">
        <form action="mailto:carl@cuttingedgelighting.com" method="post" enctype="text/plain">
            <div class="col-left">
                <label>
                    <span>* Name:</span><br />
                    <input type="text" name="ServiceRequestName" required />
                </label>
                <label>
                    <span>* Email:</span><br />
                    <input type="text" name="ServiceRequestEmail" required />
                </label>
                <label>
                    <span>Company:</span><br />
                    <input type="text" name="ServiceRequestCompany" />
                </label>
                <label>
                    <span>Address:</span><br />
                    <input type="text" name="ServiceRequestAddress" />
                </label>
            </div>
            <div class="col-right">
                <label>
                    <span>City:</span><br />
                    <input type="text" name="ServiceRequestCity" />
                </label>
                <label>
                    <span>State:</span><br />
                    <input type="text" name="ServiceRequestState" />
                </label>
                <label>
                    <span>Zip Code:</span><br />
                    <input type="text" name="ServiceRequestZip" />
                </label>
                <label>
                    <span>Phone Number:</span><br />
                    <input type="text" name="ServiceRequestNumber" />
                </label>
            </div>
            <label class="commentText">
                <span>Comments:</span><br />
                <textarea name="comments"></textarea><br />
            </label>
            <div class="submitButton">
                <input type="submit" value="Submit" /><br />
                <br />
            </div>
        </form>
    </div>
</body>
