<body>
    <div class="services">
        <div class="side-bar">
            <ul class="side-bar-list">
                <li><a class="side-bar-item" href="#" onclick="changeTextOverviewPM(); return false;">What is Project Management?</a></li>
                <li><a class="side-bar-item" href="#" onclick="changeTextPM(); return false;">Importance of Project Management</a></li>
            </ul>
        </div>
        <div class="services-content">
            <div id="overview">
                <h1>What is Project Management?</h1><br />
                <p>Project management is about knowing exactly what your goals are, how you’re going to achieve them, what resources you’ll need, and how long it will take you to reach that specific goal. In fact, project management’s goal is to make sure that everyone involved in a project knows these and is aware of the purpose of the project.<br /><br />The discipline itself is an organized manner of managing a project from its beginning to a defined ending. All projects need a structure. Hence, the complexity and length of the project are equivalent to a more advanced and detailed project plan.</p><b>Almost every project goes through these five steps during its life cycle:</b><br /><br /><p>1. Discover what the client needs to determine the project’s goals.<br />2.	Elaborate a plan that will tell you what needs to be done, by whom, how much it will cost, and when the project should be delivered.<br />3. Start working.<br />4.	Check if work goes according to the initial plan, identify problems, and make adjustments.<br />5. Deliver the project and close all contracts once you get the client’s approval.<br /><br />The “project manager” is in charge of the planning and execution of a project. He / She makes sure that everything is following the client’s vision and quality standards. He / She will also be held accountable for the project’s success or failure.<br /><br />People have been “managing projects” for centuries. They went from using traditional tools such as pen and paper to the use of advanced technologies. Currently, project managers employ the use of Cutting Edge’s project management tools and software to speed up and ease the entire work process.<br /></p>
            </div>
        </div>
    </div>
    <script src="~/Content/ProjectManagement.js"></script>
</body>
